* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
header{
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	padding:  15px;
	background-color: #AAA;
}

header .logo{
	max-height: 35px;
}
header .logotext{
	display: inline-block;
	margin:0;
	font-size: 20px;
	color:#FFF;
	font-size: 20px;
}
main{
	margin-top: 100px;
}
.question-card{
	max-width: 500px;
	margin: auto;
	text-align: center;
	border: 1px #AAA solid;
	border-radius: 3px;
	padding: 15px;
	box-shadow: 0px 0px 5px;
}
.hidden{
	display: none;
}

.start .info{
	font-size: 25px;
	text-align: center;
}
button, input[type="submit"]{
	background-color: line;
	border: 1px green solid;
	border-radius: 3px;
	color: green;
}
.start button, .end button{
	font-size: 40px;
	padding: 30px;
	margin: 20px;
}
button:hover, input[type="submit"]:hover{
	background-color: #353;
	color: lime;
}
input[type="submit"]{
	margin:10px;
	padding: 15px;
	width: 50%;
}
input[type="submit"]:disabled{
	background-color: #AAA;
	color: green;
}
.questionNotifier{
	color: green;
}
.questionNotifier.incorrect{
	color: red;
}


